*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../img/mengdecheng.png);
}
.l{
	width: 120rem;
	height: 6.875rem;
	background-color: rgba(0,0,0,0.7);
}
.chengzhangdaohang{
	width: 120rem;
	height: 6.875rem;
	background-color: rgba(100,149,237,0.7);
}
.chengzhangdaohang img{
	float: left;
}
.l img{
	float: left;
}
.daohang{
	float: left;
	font-size: 1.5625rem;
	font-family: "微软雅黑";
	
}
.daohang a{
	display: block;
	text-decoration: none;
	color: rgba(255,255,255,0.8);
	padding: 2.5rem 2.5rem 2.1875rem 2.5rem;
}
.daohang a:hover{
	background-color: rgba(0,0,0,0.2);
	color: #ffffff;
}
.denglu{
	float: right;
	font-size: 1.5625rem;
	font-family: "微软雅黑";
}
.denglu a{
	display: block;
	text-decoration: none;
	color: rgba(255,255,255,0.8);
	padding: 2.5rem 2.5rem 2.1875rem 2.5rem;
}
.denglu a:hover{
	background-color: rgba(0,0,0,0.2);
	color: #ffffff;
}
.mengde{
	width: 120rem;
	height: 50rem;
	
}

iframe{
	border: none;
}
.bjys{
	height: 50rem;
	background-color: rgba(0,0,0,0.2);
}
.mdt{
	width: 12.5625rem;
	margin: auto;
	font-size: 2.5rem;
	text-align: center;
	font-family: "微软雅黑";
}
.mdwb{
	margin: auto;
	width: 37.5rem;
	height: 37.5rem;
}
.xq{
	width: 37.5rem;
	height: 37.5rem;
}
.liyue{
	width: 120rem;
	height: 50rem;
	background-image: url(../img/liyuegang.png);
}
.daoqi{
	width: 120rem;
	height: 50rem;
	background-image: url(../img/daoqibeijing.png);
}
.di{
	width: 120rem;
	height: 12.5rem;
	background-color: #000000;
}
.di1{
	text-align: center;
}
.guodu{
	width: 120rem;
	height: 1.875rem;
	background-color: #292929;
	border-bottom: 0.125rem solid rgba(200,200,200,0.3);
}
.chengzhang{
	background-color: #ffffff;
	height: 60rem;
	width: 120rem;
}
.chengzhang h1{
	text-align: left;
	font-size: 4.375rem;
	color: darkcyan;
	margin-left:43rem;
}
.chengzhang h3{
	text-align: left;
	font-size: 2rem;
	margin-left: 47rem;
	color: darkcyan;
}
.fanhui{
	text-align: center;
	position:fixed;
	left:92%;
	top:80%;
	border-radius: 15px;
	background-color: #6495ED;
	width: 3rem;
	height: 7rem;
	font-size: 1.4rem;
	padding-left: 1rem;
	padding-top: 0.8125rem;
}
.fanhui a{
	display: block;
	text-decoration: none;
	color: #ffffff;
}
.fanhui a:hover{
	cursor: pointer;
}
.fanhui a:visited{
	display: block;
	text-decoration: none;
	color: #ffffff;
}