*{
	margin: 0;
	padding: 0;
}
.da{
	width: 1200px;
	height: 700px;
	background-image: url(../../img/keqing.png);
}
.dayj{
	width: 1200px;
	height: 700px;
	background-image: url(../../img/yunjin.png);
}
.mz{
	width: 600px;
	height: 162px;
	margin-left: 70px;
}
hr{
	margin-top: 50px;
	margin-left: 85px;
}
.ysbj{
	width: 600px;
	height: 420px;
	background-image: url(../../img/lei.png);
	background-repeat: no-repeat;
}
.ysbjyj{
	width: 600px;
	height: 420px;
	background-image: url(../../img/yan.png);
	background-repeat: no-repeat;
}
.qianming{
	width: 450px;
	height: 190px;
	margin-left: 450px ;
}
.js{
	margin-left: 85px;
	padding-left: 10px;
	width: 500px;
	height: 130px;
	line-height: 25px;
	font-size: 15px;
	font-family: "微软雅黑";
	background-color: rgba(0,0,0,0.5);
	color: #FFFFFF;
	text-align: left;
}
.cv{
	width: 200px;
	padding-left: 10px;
	margin-left: 85px;
	margin-bottom: 20px;
	border: 4px solid #d1bda3;
	font-family: "微软雅黑";
	font-size: 30px;
	background-color: #cba574;
}
.js1{
	margin-top: 10px;
	width: 410px;
	float: right;
	margin-right: 50px;
}
.cvyj{
	width: 300px;
	padding-left: 10px;
	margin-left: 85px;
	margin-bottom: 20px;
	border: 4px solid #d1bda3;
	font-family: "微软雅黑";
	font-size: 30px;
	background-color: #cba574;
}
.js1yj{
	margin-top: 10px;
	width: 410px;
	float: right;
	margin-right: 50px;
}
.jsyj{
	margin-left: 85px;
	padding-left: 10px;
	width: 500px;
	height: 70px;
	line-height: 25px;
	font-size: 15px;
	font-family: "微软雅黑";
	background-color: rgba(0,0,0,0.5);
	color: #FFFFFF;
	text-align: left;
}